<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      :root {
        /* Set fade in duration */
        --fade-time: 0.5s;
      }

      body {
        margin: 20px;
        padding: 0;
        background: #333;
      }

      .container {
        max-width: 560px;
        margin: auto;
        border: #fff solid 3px;
        background: #fff;
      }

      .main-img img,
      .imgs img {
        width: 100%;
      }

      .imgs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
      }

      .imgs img {
        cursor: pointer;
      }

      /* Fade in animation */
      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      .fade-in {
        opacity: 0;
        animation: fadeIn var(--fade-time) ease-in 1 forwards;
      }

      /* Media Queries */
      @media (max-width: 600px) {
        .imgs {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main-img">
        <img src="<%= firstPicture %>" id="current" />
      </div>

      <div class="imgs">
        <% picsFromIG.forEach(function(pic){%>
        <img src="<%= pic%>" />
        <%}) %>
      </div>
    </div>

    <!-- <% picsFromIG.forEach(function(pic){%>
    <div><img src="<%= pic%>" /></div>
    <%}) %> -->
    <script>
      const current = document.querySelector("#current");
      const imgs = document.querySelector(".imgs");
      const img = document.querySelectorAll(".imgs img");
      const opacity = 0.6;

      // Set first img opacity
      img[0].style.opacity = opacity;

      imgs.addEventListener("click", imgClick);

      function imgClick(e) {
        // Reset the opacity
        img.forEach(img => (img.style.opacity = 1));

        // Change current image to src of clicked image
        current.src = e.target.src;

        // Add fade in class
        current.classList.add("fade-in");

        // Remove fade-in class after .5 seconds
        setTimeout(() => current.classList.remove("fade-in"), 500);

        // Change the opacity to opacity var
        e.target.style.opacity = opacity;
      }
    </script>
  </body>
</html>
